<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="../css/home.css"/>
    <link rel="stylesheet" href="../css/header.css"/>
    <link rel="stylesheet" href="../css/footer.css"/>
    <link rel="stylesheet" href="../css/register.css"/>
</head>

<body>

    <header class="header">
        <div class="header-top">
            <div class="logo">
                <a href="/">
                    <img src="../images/logo-mercado-liebre.svg" alt="Logo de la pagina"/>
                </a>
            </div>
            
            
            <div class="busqueda">
                <form id="form-busqueda" method="GET" action="/">
                    <input id="busqueda" type="search" name="busqueda" placeholder="Buscar productos, marcas"> 
                    <i class="fas fa-search"></i>
                </form>
            </div>
            
            <h2 class="cuotas"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</h2>
        </div>
       
        <!--MENU DE NAVEGACIÓN-->
        <section class="header-bottom">
            <a href="#nav"><figure id="menu"><i class="fas fa-bars fa-1x"></i></figure></a>
            

            <nav class="nav-bar" id="nav">
                <a href="#" class="close"><i class="fas fa-times"></i></a>
                <ul class="left-bar">
                    <li>Ofertas </li>
                    <li>Tiendas Oficiales </li>
                    <li>Vender </li>
                    <li>Ayuda </a></li>
                </ul>
                <ul class="right-bar">
                    <li><a href="/register">Creá tu cuenta <i class="far fa-address-card"></i></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a> </li>
                    <li>Mis compras <i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>

        </section>

    </header>
    <div id="encabezado"><img src="../images/img-home-banner.jpg" alt="imagen encabezado" width="100%"/></div> 
   

    <!--MAIN-->
    <main>

        <section class="register-contenedor">
            <div class="header">
                <h1>INGRESE SUS DATOS</h1>
            </div>

            <form id="register" action="/" method="GET">
                <fieldset class=nom-ape>
                    <label for="nom-ape">Nombre y Apellido:</label>
                    <input type="text" name="nom-ape"  id="nom-ape" minlength="8" required>
                </fieldset>
        
                <fieldset class="usuario">
                    <label for="usuario">Nombre de Usuario: </label>
                    <input type="text" name="usuario"  id="usuario" minlength="4" maxlength="8" required>
                </fieldset>
        
                <fieldset class="fecNac">
                    <label for="fecNac">Fecha de Nacimiento: </label>
                    <input type="date" name="fecNac"  id="fecNac" required>
                </fieldset>
        
                <fieldset  class="domicilio">
                    <label for="domicilio">Domicilio: </label>
                    <input type="text" name="domicilio"  id="domicilio" required>
                </fieldset>
                

                <fieldset class="perfil">
                    <legend>Perfil de Usuario</legend>
                    <fieldset class="perfil-radio">
                        <input type="radio" name="perfil"  id="comprador" value="Comprador">
                        <label>Comprador</label>
                    </fieldset>
                    <fieldset class="perfil-radio">
                        <input type="radio" name="perfil"  id="vendedor" value="Vendedor">
                        <label>Vendedor</label>
                    </fieldset>
        
                    
                </fieldset>

                <fieldset class="intereses">
                    <legend for="intereses">Categorías de Interes:</legend>
                    <fieldset class="check-interes">
                        <input type="checkbox" name="intereses" id="electro" value="Electro">
                        <label for="electro">Electro</label>
                    </fieldset>
                    <fieldset class="check-interes">
                        <input type="checkbox" name="intereses" value="Moda">
                        <label for="electro">Moda</label>
                    </fieldset>
                    <fieldset class="check-interes">
                        <input type="checkbox" name="intereses" value="Hogar">
                        <label for="electro">Hogar</label>
                    </fieldset>
                    <fieldset class="check-interes">
                        <input type="checkbox" name="intereses" value="Jugueteria">
                        <label for="electro">Jugueteria</label>
                    </fieldset>
                    <fieldset class="check-interes">
                        <input type="checkbox" name="intereses" value="Vida Sana">
                        <label for="electro">Vida Sana</label>
                    </fieldset>
                </fieldset>

                <figure class="foto">
                    <label for="foto">Foto: </label>
                    <input type="file" name="foto" id="foto" accept=".jpg">
                </figure>

                <fieldset class="password">
                    <label for="pass">Contraseña: </label>
                    <input type="password" name="pass"  id="password" minlength="4" maxlength="8"required>
                </fieldset>
                
                <fieldset class="password">
                    <label for="confirm-pass">Confirmar Contraseña: </label>
                    <input type="password" name="confirm"  id="confirm-pass" minlength="4" maxlength="8" required>
                </fieldset>
                
        
                <fieldset class="buttons">
                    <fieldset class="button">
                        <button id="cancel" type="reset">Cancelar</button>
                    </fieldset>
                    <fieldset class="button">
                        <button id="button-register" type="submit">Registrarse</button>
                    </fieldset>   
                </fieldset>
            </form>
            
            <div class="volver-home"><a href="/">Volver al Home</a></div>
        
        </section>
    
    
    </main>

    
    <!-- FOOTER-->
    <footer>
        <section  class="pie">
            <i class="fas fa-credit-card fa-2x"></i>
            <h4>Pagá con tarjeta o efectivo</h4>
            <p class="cuerpo">Con MercadoLibreCash tenes cuotas sin<br>
             interés con tarjeta o efectivo en puntos de <br>
            pago. ¡Y siempre es seguro!<br>
            </p>
        </section>
        <section class="pie">
            <i class="fas fa-gift fa-2x"></i>
            <h4>Envío gratis desde los $2.500</h4>
            <p class="cuerpo">Solo por estar registrado en Mercado Liebre<br>
            tenes envío gratis en miles de productos. Es<br>
            un beneficio de Mercado Puntos<br>
            </p>
        </section>
        <section class="pie">
            <i class="fas fa-user-shield fa-2x"></i>
            <h4>Seguridad de principio a fin</h4>
            <p class="cuerpo">
            ¡no te gusta? Devolvelo. En Mercado Liebre<br>
            no hay nada que no puedas hacer porque estas<br>
                siempre protegid@<br>
            </p>
        </section>
    </footer>
    
    
</body>

</html>