<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="../css/home.css"/>
    <link rel="stylesheet" href="../css/header.css"/>
    <link rel="stylesheet" href="../css/footer.css"/>
    <link rel="stylesheet" href="../css/register.css"/>
</head>

<body>

    <header class="header">
        <div class="header-top">
            <div class="logo"><img src="../images/logo-mercado-liebre.svg" alt="Logo de la pagina"/></div>
            
            
            <div class="busqueda">
                <form id="form-busqueda" method="GET" action="/">
                    <input id="busqueda" type="search" name="busqueda" placeholder="Buscar productos, marcas"> 
                    <i class="fas fa-search"></i>
                </form>
            </div>
            
            <h2 class="cuotas"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</h2>
        </div>
       
        <!--MENU DE NAVEGACIÓN-->
        <div class="header-bottom">
            <div class="burger-menu">
                <input type="checkbox" id="menu">
                <label for="menu"><i background-color="blue" class="fas fa-bars fa-1x"></i></label>
            </div>

            <nav class="nav-bar">
                <ul class="left-bar">
                    <li>Ofertas </li>
                    <li>Tiendas Oficiales </li>
                    <li>Vender </li>
                    <li><a href="ayuda.html" >Ayuda </a></li>
                </ul>
                <ul class="right-bar">
                    <li><a href="/register">Creá tu cuenta<i class="far fa-address-card"></i></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a> </li>
                    <li>Mis compras <i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
        </div>
    </header>
   
   

    <!--MAIN-->
    <main>

        <div class="register-contenedor">
            <div class="header">
                <h1>INGRESE SUS DATOS</h1>
            </div>

            <form id="register" action="/" method="GET">
                <div class=nom-ape>
                    <label for="nom-ape">Nombre y Apellido:</label>
                    <input type="text" name="nom-ape"  id="nom-ape" required>
                </div>
        
                <div class="usuario">
                    <label for="usuario">Nombre de Usuario: </label>
                    <input type="text" name="usuario"  id="usuario" required>
                </div>
        
                <div class="fecNac">
                    <label for="fecNac">Fecha de Nacimiento: </label>
                    <input type="date" name="fecNac"  id="fecNac" required>
                </div>
        
                <div class="domicilio">
                    <label for="domicilio">Domicilio: </label>
                    <input type="text" name="domicilio"  id="domicilio" required>
                </div>
                

                <fieldset class="perfil">
                    <legend>Perfil de Usuario</legend>
                    <div class="perfil-radio">
                        <input type="radio" name="perfil"  id="comprador" value="Comprador">
                        <label>Comprador</label>
                    </div>
                    <div class="perfil-radio">
                        <input type="radio" name="perfil"  id="vendedor" value="Vendedor">
                        <label>Vendedor</label>
                    </div>
        
                    
                </fieldset>

                <fieldset class="intereses">
                    <legend for="intereses">Categorías de Interes:</legend>
                    <div class="check-interes">
                        <input type="checkbox" name="intereses" id="electro" value="Electro">
                        <label for="electro">Electro</label>
                    </div>
                    <div class="check-interes"> 
                        <input type="checkbox" name="intereses" value="Moda">
                        <label for="electro">Moda</label>
                    </div>
                    <div class="check-interes">
                        <input type="checkbox" name="intereses" value="Hogar">
                        <label for="electro">Hogar</label>
                    </div>
                    <div class="check-interes">
                        <input type="checkbox" name="intereses" value="Jugueteria">
                        <label for="electro">Jugueteria</label>
                    </div>
                    <div class="check-interes">
                        <input type="checkbox" name="intereses" value="Vida Sana">
                        <label for="electro">Vida Sana</label>
                    </div>
                </fieldset>> 

                <div class="foto">
                    <label for="foto">Foto: </label>
                    <input type="file" name="foto" id="foto" accept=".jpg">
                </div>

                <div class="password">
                    <label for="pass">Contraseña: </label>
                    <input type="password" name="pass"  id="password" required>
                </div>
                
                <div class="password">
                    <label for="confirm-pass">Confirmar Contraseña: </label>
                    <input type="password" name="confirm"  id="confirm-pass" required>
                </div>
                
        
                <div class="buttons">
                    <div class="button">
                        <button id="cancel" type="reset">Cancelar</button>
                    </div>
                    <div class="button">
                        <button id="button-register" type="submit">Registrarse</button>
                    </div>   
                </div>
            </form>
            
            <div class="volver-home"><a href="/">Volver al Home</a></div>
        
        </div>
    
    
    </main>

    
    <!-- FOOTER-->
    <footer>
        <div  class="pie">
            <i class="fas fa-credit-card fa-2x"></i>
            <h4>Pagá con tarjeta o efectivo</h4>
            <p class="cuerpo">Con MercadoLibreCash tenes cuotas sin<br>
             interés con tarjeta o efectivo en puntos de <br>
            pago. ¡Y siempre es seguro!<br>
            </p>
        </div>
        <div class="pie">
            <i class="fas fa-gift fa-2x"></i>
            <h4>Envío gratis desde los $2.500</h4>
            <p class="cuerpo">Solo por estar registrado en Mercado Liebre<br>
            tenes envío gratis en miles de productos. Es<br>
            un beneficio de Mercado Puntos<br>
            </p>
        </div>
        <div class="pie">
            <i class="fas fa-user-shield fa-2x"></i>
            <h4>Seguridad de principio a fin</h4>
            <p class="cuerpo">
            ¡no te gusta? Devolvelo. En Mercado Liebre<br>
            no hay nada que no puedas hacer porque estas<br>
                siempre protegid@<br>
            </p>
        </div>
    </footer>
    
    
</body>

</html>