/*-----ESTILOS DEL MAIN-----*/

main{
    background-color:#ebebeb;
    padding: 2%;
}

/*Sección ultima Busqueda-ofertas*/
#ultimaBusqueda{
    padding-bottom: 2%;
    border-bottom: solid 1px #ccc7c7;
}

#ofertas{
    padding-top: 1%;
}

h3{
    font-size: 24 px;
    padding: 2%;
    color: #666;
}

/*articulos*/
.article{
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
}

.article img{
    width: 100%;
}

.articulo{
    border-top: solid 1px #ebebeb;
    padding: 15px;
    position: relative;

}

.articulo .envio i{
position: absolute;
display: block;
font-size: 16px;
padding: 5px;
width: 30px;
height: 30px;
border: 1px solid #39b54a;
background-color: #FFF;
border-radius: 50%;
right: 20px;
top: -15px;
transition: all 0.5s;
}

.articulo .envio i:hover{
    transform: rotate(90deg);
}

.envio{
    color:#39b54a;

}
.precio-desc{
    display: flex;
    margin: 5px 0;
    
    
}
.precio{
    font-size: 18px;
    color: #666;
    padding-right: 5px;
}

.descuento{
    font-size: 16px;
    color:#39b54a;
    text-align: left;
    align-self: center;
}

.descripcion{
    font-size: 16px;
    font-weight: bold;
    color: #666;
    display: block;
    opacity: 0;

}
.descripcion:hover{
    opacity: 1;
}
.article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);

}




                /*----------MEDIA QUERIES----------*/

/*---TABLET---*/
@media (min-width:481px){
  
    .grid-articulos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .article{

        width: 45%;
    }

    .descripcion{
        display: block;
    }
    

}



/*---NOTEBOOKS---*/
@media (min-width:769px){
    
    .grid-articulos{
        display: flex;
        justify-content: space-around;
    }
    
    .article{
       
        width: 23%;
        margin: 0;
    }

    .descripcion{
        display: block;
    }
    
    
}